{% extends 'base.html' %}

{% block content %}
<h2>Asignar Evaluadores a "{{ postulacion.titulo }}"</h2>

<form method="POST">
    {% csrf_token %}
    <label for="evaluadores">Seleccionar Evaluadores:</label>
    <select name="evaluadores" multiple class="form-control">
        {% for evaluador in evaluadores %}
        <option value="{{ evaluador.id }}">{{ evaluador.nombre }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary mt-3">Asignar Evaluadores</button>
</form>

<a href="{% url 'verificar_postulacion' postulacion.id %}">Volver</a>
{% endblock %}
