{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>🎬 Banco de Cortometrajes Aprobados</h2>

<table id="tablaBanco" class="display">
    <thead>
        <tr>
            <th>No.</th>
            <th>Título</th>
            <th>Productor</th>
            <th>Duración
                (mm:ss)</th>
            <th>Año Resolución de Producto</th>
            <th>FDC</th>
            <th>Clasificación</th>
            <th>Estuvo en otras plataforma</th>
            <th>Mes de aprobación</th>
        </tr>
    </thead>
    <tbody>
        {% for corto in cortos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><strong>{{ corto.postulacion.titulo }}</strong></td>
            <td>{{ corto.postulacion.nombre_productor }}</td>
            <td>{{ corto.postulacion.duracion|time:"H:i" }}</td>
            <td>{{ corto.postulacion.anio_produccion }}</td>
            
            <td>
                {% if corto.postulacion.beneficiario_fdc == 'si' %}
                    {{ corto.postulacion.anio_fdc }} - Beneficiario FDC
                {% else %}
                    No aplica
                {% endif %}
            </td>
        
            <td>
                {% if corto.postulacion.clasificacion %}
                    {{ corto.postulacion.clasificacion }}
                {% else %}
                    {% if corto.postulacion.genero_cortrometraje == "ficcion" %}
                        NIÑOS - APTA PARA TODO PÚBLICO
                    {% else %}
                        Por definir
                    {% endif %}
                {% endif %}
            </td>
        
            <td>
                {% if corto.postulacion.plataformas_exhibicion == "si" %}
                    {{ corto.postulacion.si_plataforma }}
                {% else %}
                    No se ha emitido
                {% endif %}
            </td>
        
            <td>
                {% if corto.postulacion.acta %}
                    {{ corto.postulacion.acta.get_mes_display }} {{ corto.postulacion.acta.anio }}
                {% else %}
                    Sin asignar
                {% endif %}
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>

<!-- DataTables y exportación -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<script>
    $(document).ready(function () {
        $('#tablaBanco').DataTable({
            dom: 'Bfrtip',
            buttons: ['excel', 'pdf'],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json'
            }
        });
    });
</script>
{% endblock %}
