{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center"><i class="bi bi-file-earmark-text"></i> Lista de Actas</h2>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Creada por</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for acta in actas %}
            <tr>
                <td>{{ acta.id }}</td>
                <td>{{ acta.get_mes_display }}</td>
                <td>{{ acta.anio }}</td>
                <td>{{ acta.creada_por.get_full_name }}</td>
                <td>
                    <a href="{% url 'detalle_acta' acta.id %}" class="btn btn-outline-primary btn-sm">
                        Ver Detalle
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
